<!DOCTYPE html>
<html>

<head>
  <title>
    Home page!
  </title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <main>
      <h1>
        Home page!
      </h1>
        <h3>Log in, register or continue as a guest.</h3><br>
        <div class="buttonGroup">
          <input type="button" id="loginButton" value="Log in" onclick="window.location.href='/login'">
          <input type="button" id="registerButton" value="Register" onclick="window.location.href='/register'">
          <input type="button" id="guestButton" value="Guest" onclick="window.location.href='/dashboard'">
        </div>
    </main>
</body>

</html>