<!DOCTYPE html>
<html>

<head>
  <title>
    403 - Forbidden!
  </title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <main>
      <h1>
        403 - Forbidden!
      </h1>
        <h3>You do not have access right to access that page, click below to log in, register och continue as Guest.</h3><br>
        <div class="buttonGroup">
          <input type="button" id="loginButton" value="Log in" onclick="window.location.href='/login'">
          <input type="button" id="registerButton" value="Register" onclick="window.location.href='/register'">
          <input type="button" id="guestButton" value="Guest" onclick="window.location.href='/dashboard'">
        </div>
    </main>
</body>

</html>