<!DOCTYPE html>
<html>

<head>
  <title>
    404 - Page not found
  </title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <main>
      <h1>
        404 - Page not found
      </h1>
        <h3>The page you tried to access could not be found, plasea click below to go to dashboard.</h3><br>
        <div class="buttonGroup">
          <input type="button" id="dashHomeButton" value="Dashboard" onclick="window.location.href='/Dashboard'">
        </div>
    </main>
</body>

</html>