<!DOCTYPE html>
<html>

<head>
  <title>
    500 - Internal Server Error
  </title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <main>
      <h1>
        500 - Internal Server Error
      </h1>
        <h3>There was an unexpected internal error, please click below to go to dashboard.</h3><br>
        <div class="buttonGroup">
          <input type="button" id="dashHomeButton" value="Dashboard" onclick="window.location.href='/Dashboard'">
        </div>
    </main>
</body>

</html>